__pycache__             
assasins dagger npc.webp
bonfire.gif             
chef.gif                                                                                
enemy tree.gif                             
font.ttf          
ghost.gif         
gif wheat.gif     
giphy.gif         
key.png                    
monster.py        
path.png 
pirate.gif            
pixel.sword.png       
pixel_dialog.webp     
player.py             
sword_in_fire.gif     
sword_in_fire.gif.zip 
textures   
w.jpeg
wheat.png
witch_house.gif
woman npc 2.gif
woman npc.gif
Архив.zip                              